
.accordion_item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .accordion_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .accordion_content {
    display: none;
    padding: 10px;
  }

  .accordion_title.active .accordion_content {
    display: block;
  }

  .accordion_title.active i {
    transform: rotate(180deg);
  }